@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@300;400&family=Roboto:wght@300&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-container {
  width: 100%;
}
.bg {
  background-image: url("/restaurant/Assets/Images/bg.jpg");
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.bg-logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-content img {
  width: 90%;
  margin-left: 50px;
  margin-top: 10px;
}

.navBar a {
  margin: 15px;
}
.navBarText {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.loup {
  width: 4%;
}

.title-container {
  display: grid;
  place-content: center;
  margin-top: 300px;
  margin-left: 500px;
}
h2,
h3,
h5,
h4 {
  font-family: "Grand Hotel", cursive;
  font-size: 350px;
  color: #ffc200;
  font-size: 35px;
}

.title {
  font-family: "Grand Hotel", cursive;
  font-size: 70px;
  color: #ffc200;
  font-size: 80px;
}

.titleDescription {
  width: 500px;
  margin-top: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.title-btn,
.grill-btn,
.taste-btn {
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 17px;
  width: 230px;
  height: 35px;
  margin: 35px 0;
  padding-top: 10px;
  background-color: #ffc200;
}

/* MAIN */
.bestSellers {
  max-width: 850px;
  margin: 50px auto;
}

.bestSeller {
  font-family: "Grand Hotel", cursive;
  font-size: 70px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 25px;
}
.bestSellerDescription {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.serviceFoods {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imageCircle {
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.foodTitle {
  font-size: 40px;
  font-family: "Grand Hotel", cursive;
}
.foodsTextFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.foodDescription {
  max-width: 350px;
  font-size: 20px;
}
/* SECTION */

/* statistics */
/* .tasteImgContent {
  background-image: url("/restaurant/Assets/Images/bg3.png");
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
} */
/* section {
  background-image: url("/restaurant/Assets/Images/bg3.png");
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  background-color: #2f2f2f;
} */

.bGgris1 {
  position: relative;
  margin-top: 100px;
}
.bGgris2 {
  position: absolute;
  z-index: -2;
  transform: rotateY(-180deg);
  margin-bottom: 100px;
}
.squareFields {
  position: absolute;
  width: 100%;
  height: 70vw;
  top: 298%;
  z-index: -1;
  background-color: #2f2f2f;
}

.orientalTaste {
  position: absolute;
  top: 90px;
  left: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orientaleText {
  margin-left: 200px;
}
.tasteTitle {
  font-size: 50px;
  color: #ffc200;
}
.tasteCircle {
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
}
.layer {
  width: 150%;
}
.tasteDescription {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  width: 350px;
  color: white;
}

.statistic {
  margin-top: -50px;
  position: relative;
  margin-top: -300px;
  z-index: 1;
}
.statisticTitle {
  text-align: center;
}

.statisticDescription {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  width: 550px;
  margin: auto;
}
.statistics {
  display: flex;
  justify-content: space-around;
}
.statisticTitle-text{
  font-family: 'Grand Hotel';
  font-size: 50px;
  color: #ffc200;
}
.statCircle {
  border: 5px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3d3d3d;
  margin-top: 50px;
  display: grid;
  place-content: center;
  /* box-shadow: 0px 0px 5px 5px #ecf0f1; */
}
.statText,
.statTextWhite {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.statText {
  color: white;
}
.statTextWhite {
  color: #ffc200;
  margin-top: 0;
}


.grill-container {
  display: flex;
  justify-content: space-around;
  margin-top: 370px;
}
.grillText {
  font-family: "Montserrat", sans-serif;
  width: 450px;
  color: white;
}
.chickenCircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.yellow-container {
  background-image: url("/restaurant/Assets/Images/layer.jpg");
  height: 750px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 350px;
}
.yellowSquare {
  background-color: rgb(247, 223, 120);
  height: 750px;
  opacity: 70%;
  text-align: center;
  display: grid;
  place-content: center;
}
.textContent {
  max-width: 700px;
}
.fields {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.lenora {
  font-size: 50px;
  font-family: "Grand Hotel", cursive;
}

/* SUBSCRIBE PART */

.subscribe {
  display: grid;
  place-content: center;
  margin-top: 50px;
}
.suscribeTitle {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
}
.subscribeText {
  text-align: center;
  max-width: 670px;
  font-size: 22px;
}
.getInTouch {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
input {
  border: none;
  width: 500px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px #ccc;
}
button {
  border: none;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  width: 130px;
  height: 40px;
  background-color: #ffc200;
  /* box-shadow: 0px 0px 5px 5px  #ecf0f1; */
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #3d3d3d;
  height: 50vh;
  margin-top: 60px;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 40px;
}
h6 {
  font-size: 25px;
  margin-bottom: 20px;
}
.networkDescription {
  max-width: 500px;
  font-size: 18px;
  /* margin-right: 250px; */
}
.aboutText,
.serviceText,
.otherText {
  font-size: 15px;
}
.networkIcon {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}
.insta,
.face,
.twit,
.what {
  margin-top: 15px;
  width: 50%;
  cursor: pointer;
}
